.secondaryNavbar
{
  background: #E49273;
  color: #000000;
  height: 80px;
  width: 100%;
  padding: 20px;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  box-sizing: border-box;
}
.secondaryNavbar .container
{
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin: 0;
  max-width: none;
}
.secondaryNavbar ul , li
{
  display: flex;
  gap: 32px;
}
.secondaryNavbar li, a, a:hover
{
  text-decoration: none;
}
.secondaryNavbar a
{
  color: #000000;
  font-weight:bold;
  font-style: normal; 
}
.secondaryNavbar a:hover
{
  color:#F2F3F4;
  text-decoration: none;
}
#navItemDisabled a:hover
{
  pointer-events: none;
  cursor: none;
  color: #000000;
}

.secondaryFooter 
{
  display: flex;
  justify-content: center;
  background-color: #E49273;
  width: 100%;
  height: 80px;
  padding: 20px;
  box-sizing: border-box;
}
.secondaryFooter h5
{
  display: flex;
  top: 40%;
  bottom: 40.61%;
  align-items: center;
  justify-content: center;
  color: #000000;
  font-size: 1rem;
}
.secondaryFooter u
{
  font-style: italic;
  border-bottom: 1px dotted #000000;
  text-decoration: none;
}
.secondaryfooter a
{
  margin: 5px;
  text-decoration: none!important;
  color: #000000;
  font-size: 1.25rem;
  font-weight: bold;
}
.secondaryFooter a:hover
{
  color: #fff;
}
.secondaryFooter .container
{
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin: 0;
  max-width: none;
}
.footerAboutLink, .inlineList, .popup
{
  display: flex;
  flex-direction: start;
  justify-content: center;
  align-items: center;
}
.secondaryFooter .social-icon 
{
  display: inline-flex; 
  width: 50px;
  height: 50px;
  color:#E49273 ;
  background-color: #fff;
  justify-content: center;
  align-items: center; 
  border-radius: 50%;
}
.secondaryFooter .social-icon:hover 
{
  color: #fff;
  background-color: #7180AC;
}
.right {
  margin-left: 10%;
  margin-top: 200px;
  margin-right: 10%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.card {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding-bottom: 115px;
  margin-bottom: 15px;
  padding-left: 10px;
  margin-right: 15px;
  padding-top: 15px;
  padding-right: 10px;
  width: 300px;
  height: 450px;
}
.card img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
  border-radius: 10px;
}
.middle {
  transition: 0.5s ease;
  opacity: 0;
  display: flex;
  align-items: center;
  padding-bottom: 555px;
  padding-left: 250px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.middle {
  transition: 0.5s ease;
  opacity: 0;
  display: flex;
  align-items: center;
  padding-bottom: 555px;
  padding-left: 250px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.card:hover .image {
  opacity: 0.3;
}
.card:hover .middle {
  opacity: 1;
}
.text {
  background-color: #e49273;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  border-radius: 20%;
  text-align: inherit;
}
.right a {
  color: black;
  text-decoration: none;
}
.right a:hover {
  color: white;
}
.top {
  position: absolute;
  left: 10.42%;
  right: 12.36%;
  top: 12.99%;
  bottom: 79%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: inherit;
  justify-content: space-around;
}
.tabCommunities 
{
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 21px;
  display: flex;
  gap:4px;
  align-items: center;
  letter-spacing: 0.257143px;
  border-radius: 5px;
  background-color: #E49273;
  color: #000000;
}
#tabLisbonActive
{
  background-color: rgba(255, 106, 0, 0.776);
  padding-left: 16px;
  padding: 16px;
}
#tabLisbonInactive1, #tabLisbonInactive2, #tabLisbonInactive3
{
  padding-left: 16px;
  padding-right: 16px;
}
.coworking {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.257143px;
  color: #000000;
}
.all {
  display: flex;
  align-items: center;
}

